*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: #2A3D45;
    color: white;
    padding: 20px;
}
.navbar h1,ul,li{
    display: inline;
}
.cart{
    padding-left: 20px;
}

#cart-quantity {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

.Quantity {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}
.Quantity.show {
    display: block;
}
a{
    text-decoration: none ;
    color: whitesmoke;
}
.add-to-cart{
    background-color: #e6a247;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
    color: #fff; 
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-around;
    overflow: hidden;
    outline: none;
    padding: 0.7rem;
    position: relative;
    text-transform: uppercase;
    transition: 0.4s ease;
    width: 70pxpx;
    margin-top: 20px;
}





a:hover{
    color: gold;
}
.dbox:hover{
    cursor: pointer;
}

.navbar ul{
    font-size: 20px;
    margin-left: 65%;
}
.navbar ul li{
    padding-left: 30px;
}
input{
    width: 60%;
    height: 40px;
    margin: 60px;
    border-radius: 15px;
    padding-left: 20px;
    border: black solid 2px;
    outline: none;
}
.price{
    padding-top: 10px;
}
.searchbar{
    text-align: center;
}
.con{
    display: flex;
}
.dbox{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.box1{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    width: 200px;
    margin-left: 50px;
}
.box1:hover{
    border: #2A3D45 4px solid;
}
.box1 img{
    height: 200px;
    width: 200px;
}
.box1 img:hover{
    opacity: 0.9;
    transform: scale(0.9);
}
h2{
    text-align: center;
    color: #2A3D45;
}
.about{
    margin-top: 40px;
    padding: 20px;
    background-color: #2A3D45;
    color: whitesmoke;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.para{
    padding: 30px;
}
.xx{
    background-color: #2A3D45;
    color: white;
    padding: 10px;
    text-align: center;
}

